header {
  width: 100vw;
  height: 15vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  padding-bottom: 20px;
}

.project-list > button {
  margin-left: 2px;
}

main {
  width: 100vw;
  height: 85vh;
}
