.body {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

header {
  flex: 1;
  padding-top: 20px;
  padding-bottom: 30px;
}

.project-list > button {
  margin-left: 2px;
}

main {
}
